@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html {
  font-family: system-ui, -apple-system, "Poppins", sans-serif;

  button:active{
    scale: 0.9;
  }
   button:disabled{
   opacity: 0.7;
   cursor: not-allowed;
   scale: 1;
 }
}


body{
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
}

main{
  width: 80%;
  margin-inline:auto;
}
@media (width < 600px)
{
  main{
    width: 100%;
  }
}

header.flex_border {
  display: flex;
  justify-content: space-between;
  padding-inline: 10%;
  padding-block: 0.6rem;
  
  background-color: rgb(26, 26, 27);

  & .links{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  & .Sign_in {
    margin-inline: 1rem;
  }

  & .Sign_in,
  & .Register {
    padding: 0.54rem 1rem;
    border-radius: 55px;
    font-size: 0.8rem;
    font-weight: 500;
    transition: 1.5s ease;
    color: #fff;
    border: 0.3px solid #696969;
  }

  & .Sign_in:hover,
  & .Register:hover {
    background-color: rgba(13, 3, 76, 0.788);
    padding: 0.5rem 1.1rem;
    border: 0.3px solid #696969;
  }



  & .links .fa-solid {
    margin-right: 0.3rem;
  }

  & .Cart {
    color: rgb(154, 201, 235);
    border-radius: 55px;
    font-size: 0.9rem;
    border: 0.3px solid #696969;
    padding: 0.44rem 1.1rem 0.44rem 0.6rem;
    transition: 1s ease;
  }
  & .Cart:hover{
    background-color: rgba(5, 5, 103, 0.838);
  }

  & .products-number {
    position: absolute;
    background-color: rgb(255, 100, 100);
    height: 22px;
    width: 22px;
    font-size: 0.7rem;
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    right: 0;
    top: -5px;
  }
  /*==================================
          left Section (logo)
    ===================================*/

    & .logo {
      color: rgb(255, 254, 254);
      cursor: pointer;
      transition: 1s ease;
    }
    & .fa-bag-shopping {
      font-size: 1.5rem;
    }

    & .logo:hover{
        scale:0.9;
    }
} 

@media (width < 600px) {
  .logo {
    display: none;
  }
  header.flex_border {
    justify-content: center;
    padding-inline: 0;

    & .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1rem;
    }
  }
}

section .Product{
  background-color: #fff;
  border-top: 2px solid rgb(16, 16, 138);
  margin-top: 2.5rem;
  justify-content: space-between;
  max-width: 450px;
  margin-inline: auto;
  border-radius: 4px;
  font-weight: 500;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  & .fa-trash-can{
    color: rgb(191, 71, 71);
    margin-left: 1rem;
  }

  & button.trash{
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  & button.decrease{
    color: rgb(84, 84, 201);
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 1.9rem;
  }
  
  & .quantity{
    background-color: rgb(84, 84, 201);
    color: #fff;
    font-size: 0.8rem;
    border-radius: 50%;
    margin-top: 0.4rem;
    height: 21px;
    width: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline:0.4rem ;
  }

  & button.increase{
  color: rgb(84, 84, 201);
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 1.4rem;
  }

}

button.clear{
  background-color: #de3453;
  color: #fff;
  border-radius: 4px;
  padding: 6px 8px;
  margin-top: 1rem;
  display: flex;
  margin-inline: auto;
  cursor: pointer;
}

section.summary{
  background-color: #fff;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
  0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 233px;
  margin-inline: auto;
  border: none;
  margin-top: 2.5rem;
  border-radius: 4px;

  & h1{
    padding-block: 0.5rem;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    border-bottom: 2px solid rgba(0, 0 , 0 , 0.12);
  }
  
  & button.checkout{
    background-color: rgb(62, 62, 197);
    color: #fff;
    padding-block: 0.6rem;
    font-size: 0.9rem;
    width: 100%;
  }

  & a{
    color: #de3453;
    padding-block: 0.5rem;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    cursor: pointer;
  }
}
footer{
  text-align: center;
  background-color: rgb(26, 26, 27);
  color: #fff;
  margin-top: 3rem;
  padding-block: 1rem;
  border-radius: 8px 8px 0 0;
  font-size: 17px;

  & span{
    color: #ff7790;
    text-transform: capitalize;
  }
}  